MYSQL_ROOT_PASSWORD=change_me_strong_password
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

FRONTEND_BASE_URL=http://localhost:5173
MEDIA_PUBLIC_BASE_URL=http://localhost:8084/api/media

SMTP_USERNAME=
SMTP_PASSWORD=
AUTH_MAIL_FROM=
NEWSLETTER_MAIL_FROM=
